/*
====================
   SPECIAL CLASSES
====================
*/

.hide
{
    display: none;
}

.clear
{
    clear:both;
}




.wrapper
{
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    border: 1px solid darkcyan;
    padding: 10px;
}

fieldset
{
    position:relative;
    margin-bottom: 15px;
}

fieldset legend
{
    padding:0;
    padding-left: 5px;
    padding-right: 5px;
}

#notification-settings-wrapper
{
    border: 1px solid #dddddd;
    padding: 20px;
}

#notification-settings-wrapper .setting
{
    width: 296px;
    height: 40px;
    float: left;
}

#notification-settings-wrapper .setting label
{
    width:100px;
    text-align: left;
    display: block;
    float:left;
    padding: 2px;
}

#preview
{
    margin-bottom: 10px;
    border: 1px solid #dddddd;
    position: relative;
    height: 50px;
}

html, body { min-height: 100%; }

.ajax-loader
{

    position: absolute;
    left:50%;
    top:50%;


}